:root{
    --sp-gray:#828282;
    --dark-gray:#4F4F4F;
    --red-start:#EB5757;
    --most-gray:#333333;
    --monserat: 'Montserrat', sans-serif;
    --mulish:'Mulish', sans-serif
}
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/

.gray{
    color: var(--sp-gray)
}

.dk-gray{
    color: var(--dark-gray);
}

.rd-start{
    color: var(--red-start)

}

.rd-start-bg{
    background-color: var(--red-start)
    
}


.mt-gray{
    color: var(--most-gray);
}

.monrat{
    font-family: var(--monserat);
}

.mul{
font-family: var(--mulish);
}

.card-img{
    width: 24rem;
}

.img1{
    height: 269px;
}

.pointer{
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  width:15.76px;
  height:15.76px ;
  box-sizing: border-box;
}

.tx-gray{
    font-size: 14px;
}
.type{
    margin-left: 12px;
}

.sp{
    font-size: 12px;
    width: 100px;

}
.raiting{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.hide{
    display: none;
}

.modal-class{
    max-width: 1800px;
}
.red-bt{
    width: 127px;
    height: 48px;
}

.botton-sr{
    border: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.icon-sr{
    margin-bottom: 5px;
}

.filter1{
    width: 426px;
}

@media only screen and (max-width: 1200px){
    .botton-sr{
        position:fixed;
        left: 40%;
        bottom:44%
}
}
@media only screen and (max-width: 576px){
    .botton-sr{
   
       
        position:fixed;
        left: 35%;
        bottom:44%
}
}